<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="New" tabIcon="add"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Posts" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Geolocation" tabIcon="globe"></ion-tab>
</ion-tabs>
